header{
 background: #FFCC99;
 text-align: center;
 font-weight: 900;
 box-shadow: 0 0 3px black;
}

main{	
	display: flex;
	flex-direction: row-reverse;
	margin: 20px;
	background: #E6F2FF;
}

aside{
	flex: 1;	
	border: px  solid #CCC;
	background: #B3D9FF;
}
section{
	flex: 3;
}
footer{
	background: #99CC99;
	box-shadow: 0 0 3px black;
}